tr.rowStyle:hover {
  background-color: #8fcfea
}

.login-wrapper {
  margin-top: 20%
}

/* table heading */

.tableHeading{
  display: flex
}
.tableHeading-left{
  flex:70%
}
.tableHeading-center{
  font-size: 3em
  color: #343a40
}
.tableHeading-right{
  flex:30%
}
.tableHeading-text{
  font-size: 3em
  color: #343a40
}

/* EDIT FORM */

.editForm{
  display: flex
}
.editFormFooter-left{
  flex:70%
  align-content: left
}
.editFormFooter-right{
  flex:30%
}
.mainForm{
  display: flex
}
.editForm-left{
  flex:50%
  padding-right: 50px
}
.editForm-right{
  flex:50%
  padding-left: 50px
}
.goBackButton{
  float: left !important
  margin-left: 0 !important
}
.addNewButton{

}
.addNewButton:disabled{
  background-color: darkgray !important
}

.deleteButton{
  background-color: #c42727 !important
}
.updateButton{

}
.updateButton:disabled{
  background-color: darkgray !important
}
/* sweat alert customization */

.swal2-form {
  text-align left
}
.swal2-modal {
  border-radius: 0
}
/*.swal2-input{
  width: auto !important
}*/
.swal2-button-order-1 { order: 1; }
.swal2-button-order-2 { order: 2; }
.swal2-button-order-3 { order: 3; }

.right-gap {
  margin-right: auto !important
}
.swal2-styled {
  border: 0
  border-radius: .25em
  background: initial
  background-color: #2778c4
  color: #fff
  font-size: 1em
  margin-right: 0
  height: 40px !important
}
.buttonRibbon-style  {
  margin-left: 0 !important
}
.swal2-editform {
  float: right
  margin-right: 0 !important
  height: 40px !important
}
.form-custom-label {
  display: block;
  line-height: 1.5;
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 0.1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.jumbotron.dashboard {
  margin: 0 0 1rem 0
  padding: 0
  padding-left: 1rem
  height: auto
  font-size: 2rem
}
.dashlabel {
  padding-top: 1rem
  padding-bottom: 1rem
  font-weight: 900
}
.form-custom-dropdown {
  //appearance: none;
  border-radius: .3em;
  border: 1px solid #cecece;
  box-sizing: border-box;
  background-color: transparent;
  font-size: .9em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: .75em;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  padding-right: 2em;
  margin-bottom: 1.5em;
}
.form-custom-dropdown:focus {
  outline: 0;
  border: 1px solid #41b883;
}
.form-custom-dropdown::placeholder {
  color: #a8a8a8;
  line-height: normal;
}
.form-custom-dropdown select[data-placeholder-selected] {
  color: #a8a8a8;
}
.form-custom-dropdown option {
  color: #000000;
}
.form-custom-dropdown option:disabled {
  color: #a8a8a8;
}
.formulate-input[data-classification='box'] .formulate-input-element input[type="checkbox"] ~ .formulate-input-element-decorator {
  margin-bottom: 0;
}
.formulate-input[data-classification='box'] .formulate-input-element input[type="checkbox"]:checked ~ .formulate-input-element-decorator {
  margin-bottom: 0;
}

  /* Navbar Custom */
.navbar{
  padding: 0 !important
}
.navbar-brand{
  padding-left:1rem
}
.navbar-logo{
  height: 25px
}
.nav-item{
  padding: 1rem 0rem !important
}
.navbar-nav-submenu {
  margin-top: 1rem
  margin-left: -1rem
  background-color: #4a5358
  position:absolute
  opacity:0
  transition:opacity linear 0.15s
  z-index:-1
  padding: 1.5rem 1rem
}
.nav-item-submenu{
  display: block
}
.navbar-nav li:hover .navbar-nav-submenu {
  z-index: 1
  opacity: 1
}
.vue-tabs .nav {
  display:block
}
.left-vertical-tabs{
  width: 20%
  padding-right: 25px
  border-right-width: thin
  border-right-color: #343a40
  border-right-style: solid
}
.right-text-tabs{
  width: 80%
  margin-left: 25px
}
body.login {
  background-image: url(".././img/banrnew.jpg");
  background-size: cover
}

.vue-tabs .nav > li span.title {
  justify-content: left !important;
}

.badger-accordion-toggle {
  padding: 1em !important
  background-color: #8fcfea !important
}
.badger-accordion__panel.js-badger-accordion-panel.-ba-is-active {
  overflow: inherit !important
}
